<% content_for :navbar_mode, 'color' %>
<% content_for :cta, 'none' %>

<section class="container mb-12 md:mb-20 mt-32 lg:mt-48">
  <div class="flex flex-wrap lg:-mx-16">
    <div class="w-full lg:w-1/2 lg:px-16 mb-8">
      <h1 class="font-display font-bold text-3xl lg:text-4xl text-black mb-4">
        Et si on le faisait ensemble, ce projet web ?
      </h1>
      <p class="font-body text-gray-800 mb-4">
        Vous avez besoin d’aide sur la conception, le design ou le développement d’un site ou application web ?
      </p>
      <p class="font-body text-gray-800 mb-4">
        Contactez-nous pour en discuter, nous vous répondons dans les 24 heures.
      </p>
      <p class="font-body text-gray-800 mb-4">
        Ecrivez-nous à <strong>hello@nada.computer</strong> !
      </p>
      <p class="font-body text-gray-800">
        Nous sommes situés à Lyon, mais travaillons avec toute la France.
      </p>
    </div>
  </div>
</section>
