<% content_for :navbar_mode, 'white' %>

<section class="bg-gray-900 pb-12 md:pb-20 pt-32">
  <div class="container lg:px-16">
    <h1 class="font-display font-bold text-3xl lg:text-4xl text-white  text-center mb-4">Nos services</h1>
    <p class="font-display text-2xl font-light mb-4 text-gray-200 text-center mb-16">Soyez tranquille, nada s’occupe de tout.</p>

    <div class="flex flex-wrap lg:-mx-16 text-white">
      <div class="w-full lg:w-1/5 lg:px-16 mb-6">
        <%= embedded_svg 'empty-potato.svg', class: 'mb-6 mx-auto stroke-current' %>
        <h2 class="font-display font-bold text-xl text-center">Conception</h2>
      </div>
      <div class="w-full lg:w-4/5 lg:px-16 mb-12">
        <p class="font-display font-bold text-lg mb-5">
          Stratégie · Direction produit · Proposition de valeur · Design sprints · Workshops
        </p>
        <p class="font-body text-gray-200 mb-4">
          Concevoir une application ou un site web commence toujours par répondre à des questions : quel problème
          allez-vous résoudre pour vos utilisateurs ? De quelle façon allez-vous le résoudre ? Quelles sont les
          fonctionnalités à privilégier ?
        </p>
        <p class="font-body text-gray-200 mb-4">
          Chez nada, on n'est pas très fan de cahier des charges et de projections sur des années. Notre approche est
          agile et pragmatique : on discute avec vous, afin de comprendre qui vous êtes vraiment. Puis on étudie
          vos utilisateurs pour comprendre leurs besoins. Et enfin nous créons un plan d'action à partir de ces recherches.
        </p>
        <p class="font-body text-gray-200 mb-4">
          Parfois, la meilleure façon de créer cette stratégie est d'impliquer au maximum votre équipe. Pour celà, nous
          proposons aussi des workshops, de quelques heures à plusieurs jours, tels que le
          <%= link_to "Design Sprint", 'https://www.gv.com/sprint/', class: 'underline hover:text-white' %>,
          une méthode d'idéation développée par Google. L'union fait la force !
        </p>
      </div>

      <div class="w-full lg:w-1/5 lg:px-16 mb-6">
        <%= embedded_svg 'empty-potato.svg', class: 'mb-6 mx-auto stroke-current fill-current text-green' %>
        <h2 class="font-display font-bold text-xl text-center">Design</h2>
      </div>
      <div class="w-full lg:w-4/5 lg:px-16 mb-12">
        <p class="font-display font-bold text-lg mb-5">
          Branding · UX Design · UI Design · Tests utilisateurs
        </p>
        <p class="font-body text-gray-200 mb-4">
          Votre marque est votre premier outil pour communiquer avec vos clients. Couleurs, polices, logo,
          façon d'écrire : nous vous aidons à définir votre identité.
        </p>
        <p class="font-body text-gray-200 mb-4">
          Nous designons nos applications et sites web avec l'ergonomie au premier plan. Vos utilisateurs vous en
          remercierons ! Et notre travail de recherche ne s'arrête pas à la stratégie : nous pouvons travailler en mode itératif, et
          tester la clarté et l'attrait du design de façon régulière auprès de vos utilisateurs.
        </p>
      </div>

      <div class="w-full lg:w-1/5 lg:px-16 mb-12">
        <%= embedded_svg 'empty-potato.svg', class: 'mb-6 mx-auto stroke-current fill-current' %>
        <h2 class="font-display font-bold text-xl text-center">Développement</h2>
      </div>
      <div class="w-full lg:w-4/5 lg:px-16 mb-12 lg:mb-0">
        <p class="font-display font-bold text-lg mb-5">
          Applications web · Sites vitrines · API
        </p>
        <p class="font-body text-gray-200 mb-4">
          L'étape de développement nous permet de donner vie à vos applications et sites web. Pour cela, la qualité du
          code est essentielle pour nous : c'est cette qualité qui vous permettra de procurer une expérience stable et
          agréable à vos utilisateurs, mais également ce qui vous permettra de faire évoluer facilement votre application
          ou site internet.
        </p>
        <p class="font-body text-gray-200 mb-4">
          Nous développons de façon agile, ce qui nous permet de vous livrer rapidement et régulièrement des fonctionnalités.
          Nous vous impliquons tout au long de cette étape de développement, afin que vous ayez toutes les clés en main
          pour prendre des décisions.
        </p>
        <p class="font-body text-gray-200 mb-4">
          Enfin, nous pensons que la meilleure technologie ou le meilleur outil n'est pas forcément celui le plus à la
          mode ou le plus complexe. Nous adaptons nos choix techniques en fonction des besoins. Nous n'hésitons pas
          à employer des outils et des solutions déjà conçues si ceci vous fait gagner du temps. Mais nous n'hésitons pas
          non plus à développer des solutions 100% sur mesure si c'est ce qui apporte le plus à projet !
        </p>
      </div>
  </div>
  </div>
</section>
