<% content_for :navbar_mode, 'color' %>

<section class="container mb-12 md:mb-20 mt-32 lg:px-16">
  <h1 class="font-display font-bold text-3xl lg:text-4xl text-black text-center mb-4">Notre équipe</h1>
  <p class="font-display text-2xl font-light mb-4 text-gray-800 text-center mb-16">Petite équipe, grands résultats !</p>
</section>

<section class="container mb-12 md:mb-20 mt-20 lg:px-16">
  <div class="flex flex-wrap lg:-mx-16">
    <div class="w-full lg:w-1/4 lg:px-16 mb-6">
      <%= image_tag('emmanuelle-nada', class: 'w-48 mb-4 mx-auto lg:mb-0 lg:w-full') %>
    </div>
    <div class="w-full lg:w-3/4 lg:px-16 mb-12">
      <h2 class="font-display font-bold text-xl text-black">Emmanuelle Nadal</h2>
      <p class="font-mono text-lg text-blue font-bold mt-2 mb-4">Produit, design, développement</p>
      <p class="font-body text-gray-800 mb-4">
        Emmanuelle a l’air vraiment, vraiment très sérieuse sur cette photographie. Mais c’est surtout parce qu’elle
        n’aime pas tellement qu’on la prenne en photo. Ceci dit, elle prend très au sérieux le fait de développer
        des applications et sites web beaux, intuitifs et qui résolvent de vrais problèmes.
      </p>
      <p class="font-body text-gray-800 mb-4">
        Emmanuelle a travaillé en marketing et en direction produit avant de se tourner vers le design et le
        développement. Ce parcours lui permet de penser votre projet dans sa globalité, et d’imaginer votre produit
        au delà des aspects techniques.
      </p>
      <p class="font-body text-gray-800 mb-4">
        En plus de son activité à Nada, Emmanuelle enseigne le code et la conception de produits web au Wagon,
        une formation de développement web.
      </p>
      <p class="font-body text-gray-800 mb-4">
        <strong>Ses outils et technologies préférées sont :</strong> un papier et un crayon - la communication -
        Sketch - Figma - Ruby on Rails.
      </p>
    </div>

    <div class="w-full lg:w-1/4 lg:px-16 mb-6">
      <%= image_tag('francois-nada', class: 'w-48 mb-4 mx-auto lg:mb-0 lg:w-full') %>
    </div>
    <div class="w-full lg:w-3/4 lg:px-16 mb-12">
      <h2 class="font-display font-bold text-xl text-black">François Blanc</h2>
      <p class="font-mono text-lg text-blue font-bold mt-2 mb-4">Développement</p>
      <p class="font-body text-gray-800 mb-4">
        François aime vraiment beaucoup les ordinateurs (il aime les humains aussi, rassurez-vous). Il aime le code
        de qualité, clair, maintenable et surtout qui rend service à ses utilisateurs.
      </p>
      <p class="font-body text-gray-800 mb-4">
        Il n’aime pas trop parler de lui (d’ailleurs, ce n’est pas lui qui a écrit ce texte). Par contre, il écoute
        incroyablement bien, ce qui lui permet de comprendre vos problématiques et de les traduire avec la meilleure
        solution technique possible.
      </p>
      <p class="font-body text-gray-800 mb-4">
        Et quand il n’est pas en train de coder, François produit de la musique électronique,
        toujours avec un ordinateur.
      </p>
      <p class="font-body text-gray-800 mb-4">
        <strong>Ses outils et technologies préférées sont :</strong> Node.js - Ruby on Rails - les tests automatisés.
      </p>
    </div>

    <div class="w-full lg:w-1/4 lg:px-16 mb-6">
      <p class="font-display font-bold text-2xl text-black">Et tous les autres</p>
    </div>
    <div class="w-full lg:w-3/4 lg:px-16 mb-12">
      <p class="font-body text-gray-800">
        Parce qu’un projet web est souvent plus que de la conception, du design et du développement, nous sommes
        entourés de tout un réseaux de freelances pour répondre à vos besoins. Design graphique, vidéo,
        illustration, marketing... nous aurons toujours quelqu’un·e à vous recommander !
      </p>
    </div>

  </div>

</section>
